@import url("colors.css");

/* ──────────────────────────────────────────────────────────────────────────
   °˖* ૮(  • ᴗ ｡)っ🍸  pewdiepie/archdaemon/dionysh  shhheersh
   Waybar CSS styling
   ────────────────────────────────────────────────────────────────────────── */

waybar * {
  border: none;
  border-radius: 0px;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

#waybar {
  background-color: transparent;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @text;
}

#workspaces {
  background-color: transparent;
  padding-left: 40px;
  border-radius: 0px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inherit;
  padding: 6px 6px;
  margin: 6px 3px;
  border-radius: 0px;
  background-color: @surface0;
  color: @blue;
}

#workspaces button.focused,
#workspaces button.active {
  color: @peach;
  background-color: @blue;
}

#workspaces button.urgent {
  color: @base;
  background-color: @red;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button:hover {
  color: @surface0;
  background-color: @blue;
}

#custom-brightness,
#custom-volume,
#clock {
  padding: 6px 12px;
  margin: 6px 6px;
  background-color: @base;
  border-radius: 2px;
}

#clock {
  font-weight: bold;
  font-size: 12px;
  color: @peach;
}

#custom-volume:hover,
#custom-brightness:hover,
#clock:hover {
  background-color: @overlay0;
  color: @blue;
  transition: all 0.2s ease-in-out;
}

tooltip {
  color: @blue;
  background-color: @surface1;
  font-weight: bold;
}

tooltip label {
  color: @subtext;
}
