layout {

    focus-ring {
        active-color   "#bec9c4"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bec9c4"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bec9c4"
        inactive-color "#606b67"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bec9c480"
    }
}

recent-windows {
    highlight {
        active-color "#bec9c4"
        urgent-color "#ffb4ab"
    }
}
